.button-calculator{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1;
    height: 83px;
    border-style: solid;
    border-radius: 25px;
    border-color: #fff;
    border-width: 2px;
    font-size: 38px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.button-operator{
    background-color: #00471b;
}

.button-operator:hover{
    background-color: #ff6600;
}

.button-number{
    background-color: #1b1b32;
}

.button-number:hover{
    background-color: #5a01a7
}