.App{
  display: flex;
  justify-content: center;
  align-items: center;
}

.App__calculator-container{
  background-color: #99c9ff;
  width: 400px;
  height: 600px;
  border-style: solid;
  border-radius: 20px;
  border-color: #fff;
  border-width: 4px;
  padding: 14px;
  display: flex;
  flex-direction: column;
}

.calculator-container__file-button{
  flex: 1 1;
  display: flex;
  justify-content: center;
  gap: 15px;
}