.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.App__calculator-container{
  background-color: #99c9ff;
  width: 400px;
  height: 600px;
  border-style: solid;
  border-radius: 20px;
  border-color: #fff;
  border-width: 4px;
  padding: 14px;
  display: flex;
  flex-direction: column;
}

.calculator-container__file-button{
  flex: 1 1;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.App__author{
  color: #fff;
  font-size: 35px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}